<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UserForm</title>
</head>
<body>
       
        <% if(users.length > 0) { %> 
            <div>
                <% for (let user of users) { %>
                    <div>
                        <h1>UserId: <%=user.id %></h1>
                        <h1>name: <%=user.name %></h1>
                        <h1>email: <%=user.email %></h1>
                        <h1>password: <%=user.password %></h1>
                        <h1>confirmPassword: <%=user.confirmPassword %></h1>
                        <br>
                        <a href="/user-detail/<%= user.id %>">UserDetails</a>
                        <a href="/delete-user">Delete</a>
                        
                    </div>
                <% } %>

                

             </div>
        <% } else { %>
            <h1>No User fOUND</h1>
        <% } %>

</body>